themes/segetes/templates/index.html
<!DOCTYPE html>
<html ng-app="sg" class="no-js">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="/img/favicon.ico" rel="icon" type="image/x-icon">
    <!--script(src='javascripts/vendor/modernizr-2.7.1.min.j-->
    <style>@import url('http://fonts.googleapis.com/css?family=PT+Serif|Droid+Serif|Merriweather:400,300|Roboto+Condensed:400,700,300|Open+Sans:400,300,600|');</style>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-36250260-4', 'auto');
      ga('send', 'pageview');
    </script>
    <meta property="og:title" content="Segetes, The Works of Vergil">
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="Segetes, The Works of Vergil">
    <meta property="og:description" content="Segetes, A radically simple, developer-friendly framework for creating and curating networked texts and media.">
    <meta property="og:image" content="http://segetes.io/img/segetes_home.jpg">
  </head>
  <body ng-cloak class="undefined">
    <header headroom>
      <div class="side-menu">
        <div class="clearfix side-menu-head"><span class="fa fa-bars"></span><span class="site-title">segetes </span></div>
      </div>
      <div class="social-wrap"><a href="/#/login" class="login"><span>Login </span></a><a href="/search"><span class="fa fa-search"></span></a><a href="https://github.com/segetes" target="_blank"><span class="fa fa-github"></span></a><a href="https://twitter.com/segetesvergil" target="_blank"><span class="fa fa-twitter"></span></a>
      </div>
    </header>
    <div class="side-menu-panel">
      <ul class="nav-links">
        <li class="search"><a href="/search"> <span class="fa fa-search"> </span>Search</a></li>
        <li><a href="/">Home </a></li>
        <!--li-->
        <!--	a(href="/texts") Texts 
        //ul
        //	li
        //		a(href="/eclogues") Eclogues 
        //	li
        //		a(href="/georgics") Georgics 
        //	li
        //		a(href="/aeneid") Aeneid 
        -->
        <li><a href="/entities">Entities </a></li>
        <li><a href="/media">Media </a></li>
        <li><a href="http://docs.segetes.io" target="_blank">Docs </a></li>
        <li><a href="http://segetes.github.io" target="_blank">Updates </a></li>
        <li><a href="/sources">Sources </a></li>
        <li><a href="/about">About </a></li>
      </ul>
    </div>
    <!-- Primary grid-->
    <div class="grid primary">
      <div data-ng-controller="IndexController as index" class="content primary text index">
        <div class="content-wrap">
          <div class="block header-block">
            <div class="headline-image">
              <div class="headline-image-screen">
                <div class="grid inner">
                  <h1 class="primary-title">segetes</h1>
                  <h5 class="secondary-text">A radically simple, developer-friendly framework for creating and curating <a href="http://en.wikipedia.org/wiki/Networked_book" target="_blank">networked texts</a> and media </h5><a href="/#beliefs" class="header-link learn-more">Learn More</a><a href="/#texts" class="header-link read-vergil">Read Vergil</a>
                </div>
              </div>
            </div>
          </div>
          <div id="beliefs" class="block beliefs-block">
            <div class="grid inner">
              <h2 class="block-title left">Our Manifesto </h2>
              <div class="little-line"></div>
              <p class="desc info-desc">We believe reading on a screen should be as simple and beautiful of an experience as reading on a page. Interacting with metadata should be as intuitive as interacting with the text itself, no matter what device you use.</p>
              <div class="image-wrap"><img src="/img/segetes-responsive.png"></div>
            </div>
          </div>
          <div id="about" class="block about-block">
            <div class="grid inner">
              <p class="desc about-desc">Segetes is a simple, elegant framework that enables you to build web applications for publishing texts and aggregating, discovering, and extracting metadata.  Applications built with Segetes have the ability to share seamlessly between each other and can create <a href="http://p2pfoundation.net/Decentralized_Network" target="_blank">decentralized networks</a>.</p>
            </div>
          </div>
          <div id="features" class="block features-block">
            <div class="feature f1">
              <div class="feature-image-screen"></div>
              <div class="feature-inner">
                <h3 class="feature-title">Related Passages</h3>
                <div class="feature-line"></div><span class="feature-desc">Built in text reuse algorithms to map connections between your texts and others</span>
              </div>
            </div>
            <div class="feature f2">
              <div class="feature-image-screen"></div>
              <div class="feature-inner">
                <h3 class="feature-title">Media </h3>
                <div class="feature-line"></div><span class="feature-desc">Support for associating audio, video, and images with your text and inviting the community to upload their own  </span>
              </div>
            </div>
            <div class="feature f3">
              <div class="feature-image-screen"></div>
              <div class="feature-inner">
                <h3 class="feature-title">Export </h3>
                <div class="feature-line"></div><span class="feature-desc">Archive your data and share it with your choice of several different NEH-recognised data formats</span>
              </div>
            </div>
            <div class="feature f4">
              <div class="feature-image-screen"></div>
              <div class="feature-inner">
                <h3 class="feature-title">Share </h3>
                <div class="feature-line"></div><span class="feature-desc">Send all or select items of your data seamlessly between other sites using the Segetes framework and powerful API</span>
              </div>
            </div>
            <div class="feature f5">
              <div class="feature-image-screen"></div>
              <div class="feature-inner">
                <h3 class="feature-title">Criticism </h3>
                <div class="feature-line"></div><span class="feature-desc">Import citations using APIs from major academic search engines to put your work in context </span>
              </div>
            </div>
            <div class="feature f6">
              <div class="feature-image-screen"></div>
              <div class="feature-inner">
                <h3 class="feature-title">Entities </h3>
                <div class="feature-line"></div><span class="feature-desc">Extract and recognise named entities from your text and create an index of passages where they appear </span>
              </div>
            </div>
            <div class="feature f7">
              <div class="feature-image-screen"></div>
              <div class="feature-inner">
                <h3 class="feature-title">Scansion </h3>
                <div class="feature-line"></div><span class="feature-desc">If you're text is poetry, include metrical data for each line </span>
              </div>
            </div>
            <div class="feature f8">
              <div class="feature-image-screen"></div>
              <div class="feature-inner">
                <h3 class="feature-title">Definitions </h3>
                <div class="feature-line"></div><span class="feature-desc">Use a dictionary to display definitions of words in your passages </span>
              </div>
            </div>
            <div class="feature f9">
              <div class="feature-image-screen"></div>
              <div class="feature-inner">
                <h3 class="feature-title">Commentary </h3>
                <div class="feature-line"></div><span class="feature-desc">Include public-domain commentary for your text or create and edit your own  </span>
              </div>
            </div>
          </div>
          <div id="demo" class="block demo-block">
            <div class="grid inner">
              <h2 class="block-title left">Hover, Select, Expand </h2>
              <div class="little-line"></div>
              <p class="desc demo-desc">Simply <strong>hover</strong> over the text and <strong>click</strong> the plus to expand critical data related to the target passage to enrich engagement and understanding </p>
              <div id="demo-lines" class="lines demo-lines">
                <div ng-repeat="line in lines" data-n="{{line.line.n}}" class="line">
                  <div ng-show="line.speaker.length" class="pre-line">
                    <h3 class="speaker">{{line.speaker}} </h3>
                  </div>
                  <div class="lemma">
                    <div class="line-number"><span ng-show="line.line.n % 5 === 0">{{line.line.n}}</span></div>
                    <p ng-bind-html="line.line.html | unsafe" class="text-content"></p>
                    <div class="meta-tabs"><span data-type="scansion" ng-click="toggle_scansion($event)" class="meta-tab">Scansion</span><span data-type="definitions" ng-click="toggle_meta_section($event)" ng-hide="!line.definitions.length" class="meta-tab">Definitions</span><span data-type="commentary" ng-click="toggle_meta_section($event)" class="meta-tab selected">Commentary</span><span data-type="articles" ng-click="toggle_meta_section($event)" ng-hide="!line.articles.length" class="meta-tab">Criticism </span><span data-type="related-passages" ng-click="toggle_meta_section($event)" ng-hide="!line.related_passages.length" class="meta-tab">Related Passages</span><span data-type="entities" ng-click="toggle_meta_section($event)" ng-hide="!line.entities.length" class="meta-tab">Entities</span><span data-type="media" ng-click="toggle_meta_section($event)" class="meta-tab">Media </span></div>
                    <div ng-click="toggle_meta($event)" class="meta-toggle"><span class="fa fa-plus-circle"></span></div>
                  </div>
                  <div class="meta">
                    <div class="meta-section definitions">
                      <h3 class="meta-section-title">Definitions</h3>
                      <div ng-repeat="word in line.definitions" class="meta-item definition">
                        <div ng-click="show_more($event)" class="show-more-toggle"><span class="fa fa-plus"></span><span class="fa fa-minus"></span></div>
                        <div class="definition-title meta-item-title">
                          <h4 class="word">{{word.word}}</h4><a href="http://www.perseus.tufts.edu/hopper/morph?l={{word.word}}&amp;la=la" target="_blank" class="to-perseus">Perseus</a>
                        </div>
                        <div ng-repeat="def in word.defs" class="meaning"><span class="root">{{def.orth.join(", ")}}</span><span class="def">{{def.senses.join(", ")}}</span>
                          <div ng-repeat="infl in def.infls" class="forms">
                            <div ng-switch="infl.pos" class="form"><span ng-switch-when="noun" class="form"><span ng-hide="!infl.ending.length">-{{infl.ending}}: </span>{{infl.pos}} {{infl.form.declension}} {{infl.form.gender}} {{infl.form.number}}</span><span ng-switch-when="pronoun" class="form"> <span ng-hide="!infl.ending.length">-{{infl.ending}}: </span>{{infl.pos}} {{infl.form.declension}} {{infl.form.gender}} {{infl.form.number}}</span><span ng-switch-when="adjective" class="form"> <span ng-hide="!infl.ending.length">-{{infl.ending}}: </span>{{infl.pos}} {{infl.form.declension}} {{infl.form.gender}} {{infl.form.number}}</span><span ng-switch-when="verb" class="form"> <span ng-hide="!infl.ending.length">-{{infl.ending}}: </span>{{infl.pos}} {{infl.form.person}} {{infl.form.number}} {{infl.form.tense}} {{infl.form.voice}} {{infl.form.mood}}</span><span ng-switch-when="participle" class="form"> <span ng-hide="!infl.ending.length">-{{infl.ending}}: </span>{{infl.pos}} {{infl.form.declension}} {{infl.form.gender}} {{infl.form.number}} {{infl.form.tense}} {{infl.form.voice}}</span><span ng-switch-default class="form"> <span ng-hide="!infl.ending.length">.{{infl.ending}}: </span>{{infl.pos}} {{infl.form.form}}</span></div>
                          </div>
                        </div><span ng-show="!line.definitions.length" class="no-results">No definitions available.</span>
                      </div>
                    </div>
                    <div class="meta-section commentary meta-selected">
                      <h3 class="meta-section-title">Commentary </h3>
                      <div ng-repeat="comment in line.commentary" class="meta-item comment">
                        <div ng-click="show_more($event)" class="show-more-toggle"><span class="fa fa-plus"></span><span class="fa fa-minus"></span></div><span class="comment-source">{{comment.source}}</span><span class="comment-ref">{{comment.ref}}:&nbsp;&nbsp;</span><span ng-bind-html="comment.comment | unsafe" class="comment-text"></span>
                      </div><span ng-show="!line.commentary.length" class="no-results">No commentary available.</span>
                    </div>
                    <div class="meta-section articles">
                      <h3 class="meta-section-title">Criticism </h3>
                      <div ng-repeat="article in line.articles" class="meta-item article"><a href="http://www.jstor.org/action/doBasicSearch?Query={{article.title}}&amp;acc=off&amp;wc=on&amp;fc=off&amp;group=none" target="_blank"><span class="author">{{article.author}}.</span><span class="citation-title">'{{article.title}}.'</span><span class="citation">{{article.citation}}</span></a></div><span ng-show="!line.articles.length" class="no-results">No citations available.</span>
                    </div>
                    <div class="meta-section related-passages">
                      <h3 class="meta-section-title">Related Passages </h3>
                      <div ng-repeat="passage in line.related_passages" class="meta-item passage">
                        <div class="passage-title meta-item-title">
                          <h4 class="author">{{passage.author | capitalize}}</h4>
                        </div>
                        <div class="passage-ref"><span class="work">{{passage.work | capitalize}}&nbsp;</span><span class="book">{{passage.book}} </span><span class="lines">{{passage.lines}}</span></div>
                        <div class="passage-lemma"><span ng-repeat="lemma_line in passage.lemma" class="passage-lemma-line"><span class="similarity-index">{{passage.alpha}}𝜏</span> - {{lemma_line}} </span></div>
                      </div><span ng-show="!line.related_passages.length" class="no-results">No related passages.</span>
                    </div>
                    <div class="meta-section entities">
                      <h3 class="meta-section-title">Entities </h3>
                      <div ng-repeat="entity in line.entities" class="meta-item entity tease-item"><a href="/entities/{{ entity.en_name }}" class="item-link">
                          <div class="item-image-wrap"><img ng-src="{{ (entity.thumbnail | thumb_small) || '/img/default_user-large.jpg'}}"></div>
                          <h2 class="item-title">{{ entity.en_name | capitalize }}</h2></a></div><span ng-show="!line.entities.length" class="no-results">No entities associated.</span>
                    </div>
                    <div class="meta-section media">
                      <h3 class="meta-section-title">Media </h3>
                      <div ng-repeat="media in line.media" class="meta-item media"></div><span ng-show="!line.media.length" class="no-results">No media available.</span>
                      <div ng-click="upload_modal_toggle( $event )" class="meta-item upload"><span class="fa fa-plus-circle"></span><span>Upload media </span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="get-started" class="block get-started-block">
            <div class="grid inner">
              <h2 class="block-title">Get Started </h2>
              <div class="little-line"></div>
              <p class="desc demo-desc">This site uses Segetes to render the works of <a href="/author/vergil">Vergil</a> as networked texts.  Start exploring them below.</p>
            </div>
          </div>
          <div id="texts" class="block texts-block">
            <div ng-repeat="author in authors" class="author">
              <!--a(href="{{author.guid}}"): h2.title.author-title {{author.display_name}}-->
              <div class="author-texts">
                <div ng-repeat="text in author.texts" ng-class-odd="'odd'" ng-class-even="'even'" class="author-text">
                  <div class="subworks {{text.title}}">
                    <div class="subwork-image-screen"></div><a href="{{text.guid}}" class="text-title-link">
                      <h3 class="title text-title">{{text.title}}</h3></a>
                    <div ng-repeat="subwork in text.subworks" class="subwork"><a href="{{subwork.guid}}">{{subwork.title}}</a></div>
                  </div>
                  <div class="meta-elements">
                    <div class="meta-element lines-meta-count"><span class="num">{{text.meta_elements.lines}} </span><span class="meta-label">Lines </span></div>
                    <div class="meta-element"><a href="/entities#{{text.title | lowercase}}"><span class="num">{{text.meta_elements.entities}} </span><span class="meta-label">Entities</span></a></div>
                    <div class="meta-element"><a href="/media#{{text.title | lowercase}}"><span class="num">{{text.meta_elements.media}}</span><span class="meta-label">Media </span></a></div>
                    <div class="meta-element"><span class="num">{{text.meta_elements.related_passages}}</span><span class="meta-label">Related Passages</span></div>
                    <div class="meta-element"><span class="num">{{text.meta_elements.articles}}</span><span class="meta-label">Criticism </span></div>
                    <div class="meta-element"><span class="num">{{text.meta_elements.commentary}} </span><span class="meta-label">Commentary</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="build" class="block build-block">
            <div class="grid inner">
              <h2 class="block-title">Start Building </h2>
              <div class="little-line"></div><a href="https://github.com/segetes" target="_blank" class="start-building-item"><span class="fa fa-github"></span><span class="item-text">Download our framework from Github.  Fork and extend it with your own contributions! </span></a><a href="mailto:contact@segetes.io" target="_blank" class="start-building-item"><span class="fa fa-envelope"></span><span class="item-text">If you'd like more comprehensive support, get in touch with us at contact@segetes.io and tell us what you're thinking! </span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="footer-text">
        <div class="footer-title-wrap"><a href="/">
            <h3 class="site-title">segetes </h3></a></div>
        <!--div.footer-text-column-1-->
        <!--	nav.footer-->
        <!--		ul.nav-links-->
        <!--			li-->
        <!--				a(href="/texts") Texts -->
        <!--			li-->
        <!--				a(href="/entities") Entities -->
        <!--			li-->
        <!--				a(href="/media") Media -->
        <!--			li-->
        <!--				a(href="/updates") Updates -->
        <!--			li-->
        <!--				a(href="/about") About -->
        <div class="footer-text-column-1">
          <nav class="footer">
            <p>Error on this page?  Help us out by <a href="https://github.com/segetes/segetes_data/issues/new" target="_blank">reporting it!</a></p>
          </nav>
        </div>
        <div class="footer-text-column-2">
          <div class="social-wrap"><a href="https://github.com/segetes" target="_blank"><span class="fa fa-github"></span></a><a href="https://twitter.com/segetesvergil" target="_blank"><span class="fa fa-twitter"></span></a><a href="mailto:contact@segetes.io"><span class="contact-option-icon fa fa-envelope"></span></a>
            <!--a(href="skype:segetes?call" target="_blank"): span.fa.fa-skype-->
            
          </div>
        </div><span class="copyright">
          Copyright Segetes, 2015.
          See our <a href="/terms">
            terms
             and privacy policy.</a></span>
      </div>
    </footer>
    <div class="modal-login">
      <div class="exit"><span class="fa fa-times"></span></div>
      <div class="modal-inner">
        <h4 class="modal-title">Login</h4>
        <!--span.modal-subtitle with Google, Facebook, or Twitter-->
        <div class="login-options"> <a href="/auth/google" class="login-option google"><span class="fa fa-google"></span><span class="login-option-text">Login with Google</span></a><a href="/auth/facebook" class="login-option facebook"><span class="fa fa-facebook"></span><span class="login-option-text">Login with Facebook </span></a><a href="/auth/twitter" class="login-option twitter"><span class="fa fa-twitter"></span><span class="login-option-text">Login with Twitter </span></a></div>
        <div class="login-alternative"><span class="login-alternative-title">OR </span>
          <form action="/auth/local" method="post" name="local-login" class="local">
            <div class="account-field">
              <input name="email" type="text" placeholder="Email" ng-model="user_login.email" required>
            </div>
            <div class="account-field">
              <input name="password" type="password" placeholder="Password" ng-model="user_login.pass" required>
            </div>
            <input type="submit" value="LOG IN">
          </form>
          <p class="create-account">Don't have an account? <a href="/signup">Sign up</a>.</p>
        </div>
      </div>
    </div>
    <div id="loading_modal" class="hidden">
      <div class="loading-modal-inner"><span class="fa fa-circle-o-notch fa-fw fa-spin"></span>
        <!--img(src="/img/loading.gif")-->
        
      </div>
    </div>
    <div id="filler_modal" class="hidden">
      <div class="filler-modal-inner modal-inner">
        <h1 class="title">segetes is in beta</h1><br><br>
        <p>We're still adding and editing some data but are completing testing now.  Let us know what you think!</p><br><a href="#" class="close-link">Get Started</a>
        <div class="social"><a href="https://github.com/segetes" target="_blank"><span class="fa fa-github"></span></a><a href="https://twitter.com/segetesvergil" target="_blank"><span class="fa fa-twitter"></span></a></div>
      </div>
    </div>
  </body>
  <!-- javascripts-->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <!--script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js')-->
  <!--script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.js")-->
  <script>window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.11.0.min.js"><\/script>')</script>
  <script src="/js/angular.js"></script>
  <script src="/js/angular-route.js"></script>
  <script src="/js/angular-resource.js"></script>
  <script src="/js/angular-sanitize.js"></script>
  <script src="/js/app.js"></script>
  <script type="text/javascript" src="/js/headroom.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/headroom/0.6.0/angular.headroom.min.js"></script>
</html>

themes/segetes/templates/index.jade
extends base

block page_content

	div.content.primary.text.index(data-ng-controller="IndexController as index")
			div.content-wrap

				div.block.header-block
					div.headline-image
						div.headline-image-screen
							div.grid.inner
								h1.primary-title segetes
								h5.secondary-text A radically simple, developer-friendly framework for creating and curating <a href="http://en.wikipedia.org/wiki/Networked_book" target="_blank">networked texts</a> and media 

								a.header-link.learn-more(href="/#beliefs") Learn More
								a.header-link.read-vergil(href="/#texts") Read Vergil


				div#beliefs.block.beliefs-block
					div.grid.inner
						h2.block-title.left Our Manifesto 
						div.little-line
						p.desc.info-desc We believe reading on a screen should be as simple and beautiful of an experience as reading on a page. Interacting with metadata should be as intuitive as interacting with the text itself, no matter what device you use.
						div.image-wrap
							img(src="/img/segetes-responsive.png")

				div#about.block.about-block
					div.grid.inner

						p.desc.about-desc Segetes is a simple, elegant framework that enables you to build web applications for publishing texts and aggregating, discovering, and extracting metadata.  Applications built with Segetes have the ability to share seamlessly between each other and can create <a href="http://p2pfoundation.net/Decentralized_Network" target="_blank">decentralized networks</a>.

				div#features.block.features-block
					div.feature.f1
						div.feature-image-screen
						div.feature-inner
							h3.feature-title Related Passages
							div.feature-line
							span.feature-desc Built in text reuse algorithms to map connections between your texts and others

					div.feature.f2
						div.feature-image-screen
						div.feature-inner
							h3.feature-title Media 
							div.feature-line
							span.feature-desc Support for associating audio, video, and images with your text and inviting the community to upload their own  

					div.feature.f3
						div.feature-image-screen
						div.feature-inner
							h3.feature-title Export 
							div.feature-line
							span.feature-desc Archive your data and share it with your choice of several different NEH-recognised data formats

					div.feature.f4
						div.feature-image-screen
						div.feature-inner
							h3.feature-title Share 
							div.feature-line
							span.feature-desc Send all or select items of your data seamlessly between other sites using the Segetes framework and powerful API

					div.feature.f5
						div.feature-image-screen
						div.feature-inner
							h3.feature-title Criticism 
							div.feature-line
							span.feature-desc Import citations using APIs from major academic search engines to put your work in context 

					div.feature.f6
						div.feature-image-screen
						div.feature-inner
							h3.feature-title Entities 
							div.feature-line
							span.feature-desc Extract and recognise named entities from your text and create an index of passages where they appear 

					div.feature.f7
						div.feature-image-screen
						div.feature-inner
							h3.feature-title Scansion 
							div.feature-line
							span.feature-desc If you're text is poetry, include metrical data for each line 

					div.feature.f8
						div.feature-image-screen
						div.feature-inner
							h3.feature-title Definitions 
							div.feature-line
							span.feature-desc Use a dictionary to display definitions of words in your passages 

					div.feature.f9
						div.feature-image-screen
						div.feature-inner
							h3.feature-title Commentary 
							div.feature-line
							span.feature-desc Include public-domain commentary for your text or create and edit your own  


				div#demo.block.demo-block
					div.grid.inner
						h2.block-title.left Hover, Select, Expand 
						div.little-line
						p.desc.demo-desc Simply <strong>hover</strong> over the text and <strong>click</strong> the plus to expand critical data related to the target passage to enrich engagement and understanding 

						div#demo-lines.lines.demo-lines
							div.line(ng-repeat="line in lines" data-n="{{line.line.n}}")
								div.pre-line(ng-show="line.speaker.length")
									h3.speaker {{line.speaker}} 

								div.lemma
									div.line-number
										span(ng-show="line.line.n % 5 === 0") {{line.line.n}}
									p.text-content(ng-bind-html="line.line.html | unsafe")
									div.meta-tabs
										span.meta-tab(data-type="scansion" ng-click="toggle_scansion($event)") Scansion
										span.meta-tab(data-type="definitions" ng-click="toggle_meta_section($event)" ng-hide="!line.definitions.length") Definitions
										span.meta-tab.selected(data-type="commentary" ng-click="toggle_meta_section($event)" ) Commentary
										span.meta-tab(data-type="articles" ng-click="toggle_meta_section($event)" ng-hide="!line.articles.length") Criticism 
										span.meta-tab(data-type="related-passages" ng-click="toggle_meta_section($event)" ng-hide="!line.related_passages.length") Related Passages
										span.meta-tab(data-type="entities" ng-click="toggle_meta_section($event)" ng-hide="!line.entities.length") Entities
										span.meta-tab(data-type="media" ng-click="toggle_meta_section($event)" ) Media 
									div.meta-toggle(ng-click="toggle_meta($event)" )
										span.fa.fa-plus-circle

								div.meta
									div.meta-section.definitions
										h3.meta-section-title Definitions
										div.meta-item.definition(ng-repeat="word in line.definitions")
											div.show-more-toggle(ng-click="show_more($event)")
												span.fa.fa-plus
												span.fa.fa-minus

											div.definition-title.meta-item-title
												h4.word {{word.word}}
												a.to-perseus(href="http://www.perseus.tufts.edu/hopper/morph?l={{word.word}}&la=la" target="_blank") Perseus

											div.meaning(ng-repeat="def in word.defs")
												span.root {{def.orth.join(", ")}}
												span.def {{def.senses.join(", ")}}
												div.forms(ng-repeat="infl in def.infls")
													div.form(ng-switch="infl.pos")
														span.form(ng-switch-when="noun")
															span(ng-hide="!infl.ending.length") -{{infl.ending}}: 
															| {{infl.pos}} {{infl.form.declension}} {{infl.form.gender}} {{infl.form.number}}
														span.form(ng-switch-when="pronoun") 
															span(ng-hide="!infl.ending.length") -{{infl.ending}}: 
															| {{infl.pos}} {{infl.form.declension}} {{infl.form.gender}} {{infl.form.number}}
														span.form(ng-switch-when="adjective") 
															span(ng-hide="!infl.ending.length") -{{infl.ending}}: 
															| {{infl.pos}} {{infl.form.declension}} {{infl.form.gender}} {{infl.form.number}}
														span.form(ng-switch-when="verb") 
															span(ng-hide="!infl.ending.length") -{{infl.ending}}: 
															| {{infl.pos}} {{infl.form.person}} {{infl.form.number}} {{infl.form.tense}} {{infl.form.voice}} {{infl.form.mood}}
														span.form(ng-switch-when="participle") 
															span(ng-hide="!infl.ending.length") -{{infl.ending}}: 
															| {{infl.pos}} {{infl.form.declension}} {{infl.form.gender}} {{infl.form.number}} {{infl.form.tense}} {{infl.form.voice}}
														span.form(ng-switch-default) 
															span(ng-hide="!infl.ending.length") .{{infl.ending}}: 
															| {{infl.pos}} {{infl.form.form}}
											span.no-results(ng-show="!line.definitions.length") No definitions available.

									div.meta-section.commentary.meta-selected
										h3.meta-section-title Commentary 
										div.meta-item.comment(ng-repeat="comment in line.commentary")
											div.show-more-toggle(ng-click="show_more($event)")
												span.fa.fa-plus
												span.fa.fa-minus
											span.comment-source {{comment.source}}
											span.comment-ref {{comment.ref}}:&nbsp;&nbsp;
											span.comment-text(ng-bind-html="comment.comment | unsafe")
										span.no-results(ng-show="!line.commentary.length") No commentary available.

									div.meta-section.articles
										h3.meta-section-title Criticism 
										div.meta-item.article(ng-repeat="article in line.articles")
											a(href="http://www.jstor.org/action/doBasicSearch?Query={{article.title}}&acc=off&wc=on&fc=off&group=none" target="_blank")
												span.author {{article.author}}.
												span.citation-title '{{article.title}}.'
												span.citation {{article.citation}}
										span.no-results(ng-show="!line.articles.length") No citations available.

									div.meta-section.related-passages
										h3.meta-section-title Related Passages 
										div.meta-item.passage(ng-repeat="passage in line.related_passages")

											div.passage-title.meta-item-title
												h4.author {{passage.author | capitalize}}

											div.passage-ref
												span.work {{passage.work | capitalize}}&nbsp;
												span.book {{passage.book}} 
												span.lines {{passage.lines}}

											div.passage-lemma
												span.passage-lemma-line(ng-repeat="lemma_line in passage.lemma") <span class="similarity-index">{{passage.alpha}}𝜏</span> - {{lemma_line}} 
										span.no-results(ng-show="!line.related_passages.length") No related passages.

									div.meta-section.entities
										h3.meta-section-title Entities 
										div.meta-item.entity.tease-item(ng-repeat="entity in line.entities")
											a(href="/entities/{{ entity.en_name }}").item-link
												div.item-image-wrap
													img(ng-src="{{ (entity.thumbnail | thumb_small) || '/img/default_user-large.jpg'}}")
												h2.item-title {{ entity.en_name | capitalize }}
										span.no-results(ng-show="!line.entities.length") No entities associated.

									div.meta-section.media
										h3.meta-section-title Media 
										div.meta-item.media(ng-repeat="media in line.media")
										span.no-results(ng-show="!line.media.length") No media available.
										div.meta-item.upload(ng-click="upload_modal_toggle( $event )")
											span.fa.fa-plus-circle
											span Upload media 


				div#get-started.block.get-started-block
					div.grid.inner
						h2.block-title Get Started 
						div.little-line
						p.desc.demo-desc This site uses Segetes to render the works of <a href="/author/vergil">Vergil</a> as networked texts.  Start exploring them below.

				div#texts.block.texts-block
					div.author(ng-repeat="author in authors")
						//a(href="{{author.guid}}"): h2.title.author-title {{author.display_name}}

						div.author-texts
							div.author-text(ng-repeat="text in author.texts" ng-class-odd="'odd'" ng-class-even="'even'")

								div(class="subworks {{text.title}}")
									div.subwork-image-screen
									a.text-title-link(href="{{text.guid}}"): h3.title.text-title {{text.title}}
									div.subwork(ng-repeat="subwork in text.subworks")
										a(href="{{subwork.guid}}") {{subwork.title}}

								div.meta-elements
									div.meta-element.lines-meta-count
										span.num {{text.meta_elements.lines}} 
										span.meta-label Lines 

									div.meta-element
										a(href="/entities#{{text.title | lowercase}}")
											span.num {{text.meta_elements.entities}} 
											span.meta-label Entities

									div.meta-element
										a(href="/media#{{text.title | lowercase}}")
											span.num {{text.meta_elements.media}}
											span.meta-label Media 

									div.meta-element
										span.num {{text.meta_elements.related_passages}}
										span.meta-label Related Passages

									div.meta-element
										span.num {{text.meta_elements.articles}}
										span.meta-label Criticism 

									div.meta-element
										span.num {{text.meta_elements.commentary}} 
										span.meta-label Commentary

				div#build.block.build-block
					div.grid.inner
						h2.block-title Start Building 
						div.little-line

						a(href="https://github.com/segetes" target="_blank").start-building-item
							span.fa.fa-github
							span.item-text Download our framework from Github.  Fork and extend it with your own contributions! 

						a(href="mailto:contact@segetes.io" target="_blank").start-building-item
							span.fa.fa-envelope
							span.item-text If you'd like more comprehensive support, get in touch with us at contact@segetes.io and tell us what you're thinking! 
